.Profile {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
  padding: 40px 180px;
}

.Profile .Header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Profile .ProfileText {
  font-size: 3em;
  font-weight: bold;
}

.Profile .Description {
  font-size: 2em;
}

.Profile .ProfileBody {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  margin-bottom: 50px;
}

.Profile .About {
  margin-left: 40px;
}

.Profile .AboutTitle {
  font-size: 1.8em;
  font-weight: bold;
}

.Profile .AboutDesc {
  font-size: 1.2em;
}

.Profile .Social {
  display: flex;
  justify-content: flex-end;
}

.Profile .Education {
  margin-top: 50px;
}

.Profile .EducationTitle {
  font-size: 2.2em;
  margin-bottom: 20px;
  font-weight: bold;
}

.Profile .SchoolTitle {
  font-size: 1.3em;
  font-weight: bold;
}

.Profile .SchoolContainer {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  margin-bottom: 20px;
}

.Profile .SchoolLoc {
  display: flex;
  justify-content: flex-end;
  font-size: 1.2em;
}

.Profile .SchoolDesc {
  font-size: 1.2em;
}

.Profile hr {
  border: none;
  color: #f4c430;
  background-color: #f4c430;
  height: 1px;
}
