.Background {
  background-color: #e0e6d8;
}

.SkillsContainer {
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
  padding: 40px 180px;
}
.SkillsContainer .Header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.SkillsContainer .Title {
  font-size: 3em;
  font-weight: bold;
}

.SkillsContainer .Desc {
  font-size: 2em;
}

.SkillsContainer .Stars {
  color: #f4c430;
}

.SkillsContainer .SkillTitle {
  font-size: 2.2em;
  font-weight: bold;
}

.SkillsContainer .Skill {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.2em;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 8px;
}

.SkillsContainer .Skills {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.SkillsContainer hr {
  border: none;
  color: #f4c430;
  background-color: #f4c430;
  height: 1px;
}